* {
	margin: 0;
	padding: 0;
	overflow: hidden;
	user-select: none;
}
   
body {
	background: url("assets/bgja.png");
	background-size: cover;
	background-blend-mode: normal;
	text-align: center;
}

#GameBoard {
	margin: 0 0;
	padding: 0 0;
	filter: drop-shadow(0 0 5px #000);
	z-index: 0;
}

#menu {
	position: absolute;
	left: 20%;
	z-index: 999;
	transform: translate(-50%, 0);
}

#menu > div {
	background-image: url("assets/btja.png");
	background-size: 330px 80px;
	width: 330px;
	height: 80px;
}

#gameover {
	position: absolute;
	display: none;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.87);
	color: #FFF;
	z-index: 999;
}

#gameover p {
	margin: 1.25em 0;
	font-size: 1.25em;
	font-family: 'Press Start 2P', cursive;
}

#gameover p > span[clickable]:hover {
	background: rgba(245, 121, 121, 0.4);
}

#startGame {
	margin-top: 50vh;
	background-size: cover;
	display: block;
	text-align: center;
}

#startGame:hover, #loadGame:hover, #Options:hover{
	text-shadow: 0px 0px 10px #91fbe7;
	color: #7a4952;
	cursor: pointer;
}

#startGame:active, #loadGame:active, #Options:active{
	transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}
#startGame p, #loadGame p, #Options p {
	font-family: 'Press Start 2P', cursive;
	letter-spacing: -2px;
	font-size: 25px;
	padding-top: 25px;
}
   
#loadGame {
	display: block;
	margin-top: 20px;
	text-align: center;
}
   
#Options {
	display: block;
	margin-top: 20px;
	text-align: center;
}

#interface {
	position: absolute;
	height: 100vh;
	width: 100vw;
	z-index: 1;
}

#interface > div {
	position: absolute;
	background: rgba(120, 120, 120, 0.96);
	z-index: 10;
}

#interface div > * {
	margin: 0 auto;
}

#interface div > .header {
	text-align: left;
	margin: 2px 0;
	padding: 2px 0 2px 0.67vw;
	border: 1px solid #000;
}

#interface > #inventory > table, tr, td {
	border: 1px solid #000;
}

#interface > #inventory > td {
	position: absolute;
	padding: 2px;
}

#interface > #healthbar {
	padding: 5px 5px;
	text-align: left;
}

#interface > #healthbar > .bar {
	position: relative;
	width: 100%;
	height: 38.5%;
	margin-left: 0;
	background: #000;
	z-index: 21;
}

#interface > #healthbar > .bar > .health {
	position: relative;
	height: 100%;
	margin-left: 0;
	background: rgba(224, 38, 40, 1);
	z-index: 22;
}

#interface > #healthbar > .bar > .floatText {
	position: absolute;
	color: #FFF;
	z-index: 23;
}

#interface > div > .draggable {
	cursor: move;
}

#interface > .textbox {
	background: rgba(240, 240, 240, 0.97);
	padding: 5px;
	border: 1px solid #000;
	border-radius: 4px;
	z-index: 11;
}