* {
	margin: 0;
	padding: 0;
	overflow: hidden;
	user-select: none;
}
   
body {
	background: url("assets/background.png"), #473F23;
	background-size: cover;
	background-blend-mode: overlay;
   
	text-align: center;
}
   
#menu {
	position: absolute;
	left: 20%;
	z-index: 999;
	transform: translate(-50%, 0);
}
   
#GameBoard {
	margin: 0 0;
	padding: 0 0;
	filter: drop-shadow(0 0 5px #000);
	z-index: 0;
}
   
#startGame {
	/*background-image: url("assets/butt.png");*/
	position: relative;
	display: block;
	margin-top: 50vh;
	padding: 20px 120px;
	width: 320px;
	text-align: center;
}
   
#loadGame {
	position: relative;
	display: block;
	margin-top: 20px;
	padding: 20px 120px;
	width: 320px;
	text-align: center;
}
   
#Options {
	position: relative;
	display: block;
	margin-top: 20px;
	padding: 20px 120px;
	width: 320px;
	text-align: center;
}

#interface {
	position: absolute;
	height: 100vh;
	width: 100vw;
	z-index: 1;
}

#interface > div {
	position: absolute;
	background: rgba(120, 120, 120, 0.96);
	z-index: 10;
}

#interface div > * {
	margin: 0 auto;
}

#interface > #inventory > table, tr, td {
	border: 1px solid #000;
}

#interface > #inventory > td {
	position: absolute;
	padding: 2px;
}